* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.satisfecha,
.insatisfecha {
  gap:5px;
  display: flex; /* Ensure flexbox behavior */
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 1rem; /* Add some padding for breathing room */
  border-radius: 5px; /* Add a subtle curve for a more polished look */
}

.satisfecha{
  background-color: #90EE90; /* Light green with a touch of blue for vibrancy */
  color: #333; /* Darker gray for better contrast */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle drop shadow for depth */
  border: 1px solid #CCEECC;
  /*justify-content: flex-end;
  align-items: center;
  background-color: lightgreen; 
  color: black;*/
}

.insatisfecha{
  background-color: #F08080; /* Lighter red for a less harsh tone */
  color: #fff; /* White text for high contrast */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow */
  border: 1px solid #F9A7A7;
  /*justify-content: flex-end;
  align-items: center;
  background-color: rgb(188, 100, 100);
  color: black;*/
}


.board {
  display: grid;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}

.colClues .satisfecha {
  display: grid;
  flex-direction:column;
}

.colClues .insatisfecha {
  display: grid;
  flex-direction:column;
}

.clue {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #b9d6e0;
  border-radius: 8px;
  margin: 5px;
  padding: 3px;
}

.clue div {
  margin: 2px
}

.colClues .clue {
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: row;

}

.boton-modo {
  padding: 10px 10px; /* Aumenta el relleno a 50px */
  margin-left: 15px; /* Aumenta el margen izquierdo a 40px */
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  background-color: #90EE90;
  font-size: 15px;
}

.boton-comprobar {
  padding: 10px 10px; /* Aumenta el relleno a 50px */
  margin-left: 10px; /* Aumenta el margen izquierdo a 40px */
  margin-top: 10px;
  color: rgb(0, 0, 0);
  background-color: #90EE90;
  font-size: 15px;
}

.boton-reiniciar{
  padding: 10px 10px; /* Aumenta el relleno a 50px */
  margin-left: 10px; /* Aumenta el margen izquierdo a 40px */
  margin-top: 10px;
  color: rgb(0, 0, 0);
  background-color: #90EE90;
  font-size: 15px;
}

.game-info {
  margin-left: 75px;
  /*
  margin-top: 10px;  
  font-weight: bold; */
}